In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# para abrir o navegador
navegador = webdriver.Chrome()

#from selenium.webdriver.chorme.options import Options
#chrome_options = Options()
#chorme_options.headsless = True # also works
#nav = webdriver.Chrome(options=chrome_options)

In [2]:
# pesquisar no google cotação dólar
# pegar a cotação do dólar
navegador.get("https://www.google.com.br/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do dólar")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

# pegando o valor da busca do google
cotacao_dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)

<ipython-input-2-1b8617dda915>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do dólar")
<ipython-input-2-1b8617dda915>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

5.5584

<ipython-input-2-1b8617dda915>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

In [3]:
# pesquisar no google cotação do euro
# pegar a cotação do euro
navegador.get("https://www.google.com.br/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do euro")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

# pegando o valor da busca do google
cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

<ipython-input-3-8f4e624b01e8>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do euro")
<ipython-input-3-8f4e624b01e8>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

6.311285280000001

<ipython-input-3-8f4e624b01e8>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

In [4]:
# entrar no site melhor câmbio
# pegar a cotação de o ouro

site = ('https://www.melhorcambio.com/ouro-hoje')
navegador.get(site)
cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",",".")
print(cotacao_ouro)

332.48

<ipython-input-4-d4cd92cb2e8f>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")

In [5]:
#navegador.find_element_by_xpath('//*[@id="active"]').click()
#import time
#time.sleep(1)

In [6]:
import pandas as pd

tabela_produtos = pd.read_excel("Produtos.xlsx")
display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,Iphone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,3550,7000.00,1.15,8050.000

In [7]:
# passo 1: atualizar as cotações

tabela_produtos.loc[tabela_produtos["Moeda"]== "Dólar", "Cotação"] = float(cotacao_dolar)

# passo 2: atualizar o preço base reais -> cotação * preço base original

# passo 3: atualizar o preço final -> preço base reais * ajuste

display(tabela_produtos)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.5584,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6.0000,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.5584,4499.95,1.70,7649.915
3,Iphone,799.00,Dólar,5.5584,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6.0000,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.5584,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,3550.0000,7000.00,1.15,8050.000